* { font-size:12px; font-family:Tahoma,Verdana,微软雅黑,新宋体; color: #555; }
body{ background:#D2E0F2; }
a { color:black; text-decoration:none; }
a:hover{ color:red; text-decoration:underline; }

#dlg {
	padding:3px
}
#dlg-buttons a {
    width: 90px;
}

#queryContainer {
	height: 35px;
	padding: 8px 0 0 10px;
	background-color: #fff;
}
#queryContainer label { padding-left: 5px; }
#queryContainer input { width: 120px; }

#fm table {
    border-collapse: collapse;
}

#fm table { border: 1px solid #999; }

#fm table tr { height: 40px; }

#fm table td {
    border: 1px solid #dddddd;
    padding: 5px;
}

#fm table .label {
    background-color: #eee;
    width:60px;
    text-align: right;
}
#fm table input.easyui-textbox {
    width:172px;
}

#fm table input.easyui-datetimebox {
    width:172px;
}